@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(36, 190, 196);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-wrapper{
  display: list-item;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  background-color: rgb(3, 15, 29);
}

.todo-wrapper h1 {
  text-align: center;
  width: 100%;
  margin: 10px;
  flex-wrap: wrap;

  color: rgb(139, 245, 218);
}

.todo-wrapper h3 {
  text-align: center;
  width: 100%;
  margin: 15px;
  margin-bottom: 50px;
  color: rgb(139, 245, 218);
}

.element-wrapper {
  border: solid rgb(145, 201, 247) 3px;
  margin: 20px;
  padding: 10px;
  width: 200px;
  align-content: center;
  background-color: darkcyan;
}

.lists-wapper {
  border: solid rgb(202, 197, 197) 1px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.input-wrapper{
  border: solid rgb(15, 122, 209) 3px;
  height: 38px; 
  margin: 0 15px;
  width : 500px;
  background-color: rgb(145, 201, 247) ;
}

.itens-wrapper{
  text-align: center;
  margin-top: 10px;
  margin: 0 5px;
  display: list-item;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 10px; 
  background-color: rgb(61, 115, 160);
}

.status-wrapper{
  border: solid rgb(15, 122, 209) 3px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  background-color:cadetblue;
  font-size: 16;
}